
@font-face{
  font-family: Centauri;
  src: url(../fonts/Centauri.woff);
}
@font-face{
    font-family: Ginthul;
    src: url(../fonts/Ginthul.woff);
  }
  @font-face{
    font-family: Amazone;
    src: url(../fonts/Amazone.woff);
  }
  @font-face{
    font-family: SchoonerScript;
    src: url(../fonts/SchoonerScript.woff);
  }
  @font-face{
    font-family: Polaris;
    src: url(../fonts/Polaris.woff2);
  }
  @font-face{
    font-family: HalcyonRegular;
    src: url(../fonts/HalcyonRegular.woff);
  }
  @font-face{
    font-family: Martian;
    src: url(../fonts/Martian.woff);
  }

html { 
    background: url("../ressources/bckgr.png") repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
h1 {
    font-family: SchoonerScript, Ginthul, Tahoma, sans-serif;
}
button, .coming-soon {
    margin-top: 2rem !important;
    margin-left: auto;
    margin-right: auto;
    font-family: Martian, sans-serif;
    
}
.title {
  font-family: Martian, sans-serif;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.remove {
    display: none;
    opacity: 0;
}
.logo-space {
    display: block;
    width: 300px;
    padding-left: 30px;
    margin: 2rem auto 0px auto;
    
}
@media screen and (min-width: 769px){
  button, .coming-soon {
    width: 350px;
  }
}
.menu-section{
  margin-top: 4rem;
}