
html { 
    background: url("../ressources/bckgr.png") repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
h1 {
    color: #3298DC !important;
    text-align: center;
    margin-bottom: 4rem !important;
       
}
button {
    margin-top: 12rem !important;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.remove {
    display: none;
    opacity: 0;
}