
@font-face{
  font-family: Centauri;
  src: url(../fonts/Centauri.woff);
}
@font-face{
    font-family: Ginthul;
    src: url(../fonts/Ginthul.woff);
  }
  @font-face{
    font-family: Amazone;
    src: url(../fonts/Amazone.woff);
  }
  @font-face{
    font-family: SchoonerScript;
    src: url(../fonts/SchoonerScript.woff);
  }

html { 
    background: url("../ressources/bckgr.png") repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
h1 {
    margin-bottom: 4rem !important;
    font-family: SchoonerScript, Ginthul, Tahoma, sans-serif;     
}
button {
    margin-top: 12rem !important;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.remove {
    display: none;
    opacity: 0;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-left: 30px;
    
}